In [1]:
import pandas as pd
import numpy as np

client_summary = pd.read_csv('../data/processed/client_summary.csv')
df = pd.read_csv('../data/processed/df_all_rows.csv')
df_filtered = pd.read_csv('../data/processed/df_clean.csv')

In [23]:
df[(df['client_id'] == 365042657)&(df['month'] == 9)][['date','promotor_id','number_of_orders','volume','income','promotor_visits','promotor_calls']]

,date,promotor_id,number_of_orders,volume,income,promotor_visits,promotor_calls
222403,2024-09-02,317564580,2,1060.26,852.33,20,0
223092,2024-09-03,317564580,1,56.00,189.09,20,0
224747,2024-09-05,317564580,1,215.00,271.99,20,0
225560,2024-09-06,317564580,1,48.00,211.69,20,0
226294,2024-09-09,317564580,1,30.00,120.04,20,0
227078,2024-09-10,317564580,1,25.50,114.29,20,0
228139,2024-09-12,317564580,1,25.00,28.90,20,0
229079,2024-09-13,317564580,1,145.84,282.36,20,0
229842,2024-09-16,317564580,1,84.40,130.62,20,0
230569,2024-09-17,317564580,1,55.40,144.88,20,0
231466,2024-09-18,317564580,1,191.10,212.81,20,0
232314,2024-09-19,317564580,1,58.60,152.96,20,0
233104,2024-09-20,317564580,1,175.00,186.29,20,0
233849,2024-09-23,317564580,1,77.36,110.99,20,0
234768,2024-09-25,317564580,2,445.12,497.33,20,0
235690,2024-09-26,317564580,1,149.50,277.89,20,0
236611,2024-09-27,317564580,1,414.84,376.85,20,0
237328,2024-09-30,317564580,1,234.00,261.20,20,0

In [ ]:
df[df['client_id'] == 365042657].groupby('promotor_id').agg({'order_normalized': 'sum', 'promotor_visits': 'sum'})